/* Designed by Milos Zivojinovic - b2evolution skin "Horizon_gallery" */
@-ms-viewport {
	width: device-width;
}
body {
	padding: 0px;
	margin: 0px;
	color: #222 !important;
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.6em;
	-webkit-animation: bugfix infinite 1s;
	background-color: #fff !important;
}
div#skin_wrapper div.sitewide_header {
	border-bottom: none;
	margin-bottom: 0;
}
a {
	color: #697b94;
	text-decoration: none;
}
.top_menu {
  border-bottom: none;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 0px;
  text-align: center;
  display: table;
  margin: 0 auto;
  display: inline;
}
.top_menu {
  margin-left: auto !important;
  margin-right: auto !important;
  float: none;
}
.top_menu span {
  margin-left: -3px;
}
.top_menu .menu a:hover,
.top_menu .menu a.selected,
.top_menu .menu a.default:hover {
  background-color: rgba(0,0,0,0);
  color: #ffffff;
}
.top_menu .menu a.selected,
.top_menu .menu a.default {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
.top_menu .menu a {
  padding: 26px 12px 25px 12px;
}
.top_menu .menu a {
  cursor: pointer !important;
  background-color: rgba(255,255,255,0);
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  padding: 25px 12px 25px 12px;
}
.top_menu .menu a.selected:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff;
  height: 6px;
}
.top_menu .menu a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.top_menu .menu a.default:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  height: 6px;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.top_menu .menu a.default:hover:before,
.top_menu .menu a.default:focus:before,
.top_menu .menu a.default:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.top_menu .menu a.default:hover {
  color: #ffffff;
}
img.loadimg {
	background-image: url(../../rsc/img/ajax-loader/666.gif);
}

.action_messages a {
	color: #00F;
}
.bCommentSmallPrint a.permalink_right {
	font-size: 15.3px !important;
	color: #337ab7 !important;
}
.bCommentSmallPrint a.permalink_right:hover {
	color: #23527c !important;
}
.bCommentSmallPrint a:nth-child(2):before {
	font-family: FontAwesome;
	color:#337ab7;
	content:'\f1b8';
	font-size: 14px;
}
.bCommentSmallPrint a:first-child:before {
	font-family: FontAwesome;
	color:#337ab7;
	content:'\f044';
	font-size: 14px;
}
.bCommentSmallPrint a:nth-child(2):hover:before {
	color: red;
}
.bCommentSmallPrint .datetime:before {
	content:'' !important;
}
a.datetime {
	font-size: 15.3px;
	color: rgba(119,119,119, 1);
}
.nav_pages {
	text-align: center;
	margin: 0;
}
div.pageHeader {
	text-align: center;
	background: url(images/landscape-bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: -1;
	margin-top: -36px;
}
.container {
	max-width: 960px !important;
	margin: 0 auto !important;
	text-align: center !important;
	padding-top: 20px;
	margin-bottom: 0px;
}
h1#pageTitle {
	padding: 125px 0px 0px 0px;
	color: #fff;
    font-size: 55px;
    letter-spacing: 5px;
    pointer-events: none;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}
h1 a {
	color: #fff;
}
/* Styles for main area (left) */
.msg_nothing {
	text-align: center;
	margin: 15ex 0 10ex;
}

/* Styles for posts */
.bPosts {
	padding: 0px 10px;
	margin: 0 auto;
	max-width: 960px;
	
}
.bPosts.full_width {
	max-width: 100%;
}
.posts_list {
	max-width: 1170px;
	text-align: center;
	clear: both;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 70px;
}
.posts_list:nth-child(2n+2) {
	background-color: rgba(0,0,0,0.03);
	padding: 40px;
	border-radius: 5px;
}
.posts_list .category_title, .nav_album_title a {
	font-size: 30px;
	text-transform: uppercase;
}
.nav_album_title a {
	margin-top: 7px; 
}

/* Underline hover effect */
.posts_list .category_title a, .nav_album_title a, .feedback_feed_msg a {
  display: inline-block;
  vertical-align: bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.posts_list .category_title a:before, .nav_album_title a:before, .feedback_feed_msg a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #5d4a55;
  padding-bottom: 2px;
  height: 0px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.posts_list .category_title a:hover:before,
.posts_list .category_title a:focus:before,
.posts_list .category_title a:active:before,
.nav_album_title a:hover:before,
.nav_album_title a:focus:before,
.nav_album_title a:active:before,
.feedback_feed_msg a:hover:before,
.feedback_feed_msg a:focus:before,
.feedback_feed_msg a:active:before {
  right: 0;
}
.feedback_feed_msg p a span:before {
	font-family: FontAwesome;
	color:#F90;
	content:'\f143';
	font-size: 14px;
}
.posts_list .category_title a, .nav_album_title a {
	color:  #5d4a55;
}
.feedback_feed_msg a:hover {
	color: #5d4a55;
}
.posts_list .bPost {
	display: inline-block;
	margin: 25px 44px;
	vertical-align: top;
}
.posts_list .bPost a {
	font-weight: bold;
}
.posts_list .bPost a:hover {
	font-weight: bold;
	color: #222;
	text-decoration: underline;
}
.posts_list .bPost img, .posts_list .bPost b, .loadimg {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
	box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
	padding: 0px;
	margin-bottom: 10px;
	opacity: 1;
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.posts_list .bPost img:hover, .loadimg:hover {
	opacity: 0.8;
}
.posts_list .bPost img
.posts_list .bPost a.album_nopic {
	display: block;
	margin-bottom: -11px;
	text-decoration: none;
}
.posts_list .bPost b {
	background: #555;
	padding: 10px;
	display: table-cell;
	vertical-align: middle;
}
div.action_messages {
	margin: 0 2ex;
}


.featured_post {
	border: none !important;
	margin: 0px !important;
	padding: 0px !important;
}
.bPost {
	clear: both;
}
.bPostContent {
	vertical-align: top;
	text-align: left;
}
.bPostContent .bDetails {
	max-width: 960px;
	border: none;
	border-radius: 5px;
	padding: 30px;
	margin-bottom: 70px;
}
.bPostContent .bDetails .bComment {
	margin: 0;
	padding: 0;
	border: none;
}
.bPostContent .bDetails .bComment .bCommentAvatar {
	border: none;
	border-radius: 50%;
	padding: 0;
	-webkit-box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
	-moz-box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
	box-shadow: 3px 15px 5px -10px rgba(0,0,0,0.25);
}
.bPostContent .bDetails .bComment fieldset#ffield_g div.label,
.bPostContent .bDetails .bComment fieldset#ffield_uploadfile_A1 div.label,
.bPostContent .bDetails .bComment fieldset.fieldset fieldset div.label {
	float: none;
	width: 100%;
	text-align: left;
}
.bPostContent .bDetails .bComment fieldset#ffield_g div.input,
.bPostContent .bDetails .bComment fieldset#ffield_uploadfile_A1 div.input,
.bPostContent .bDetails .bComment fieldset.fieldset fieldset div.input,
.bPostContent .bDetails .bComment fieldset.fieldset fieldset div.info {
	margin: 0;
}
.bPostContent .bDetails .bComment#comment_preview {
	background: none;
}
.post_images {
	width: 100%;
	min-width: 256px;
	display: table-cell;
	text-align: center;
}
.post_images .image_block {
	display: inline-block;
	margin: 0 22px 25px;
}
.post_images .image_block a {
	display: block;
}
.post_images .image_block div {
	width: 100%;
	padding: 3% 0;
}
div.mediajs_block, div.videojs_block, div.flowplayer_block {
	margin-top: 0;
	margin-bottom: 50px;
}
.post_images .image_legend, .mediajs_block .mediajs_text {
	margin: 0;
	font-weight: bold;
	color: #f8f8f8;
	float: left;
}
@media only screen and (max-width: 500px) {
	.nav_album_number, .nav_album_arrows {
		display: none;
	}
	.nav_album_title {
		float: right;
		margin: 0 10px 0 0;
	}
}
@media only screen and (max-width: 666px) {
	.bPosts {
		padding-left: 0;
		padding-right: 0;
	}
	.post_images {
		display: block;
	}
	.post_images .image_block {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.post_images .image_block .image_legend {
		width: auto !important;
		max-width: 100% !important;
	}
	.bPostContent {
		display: block;
		max-width: 100%;
		width: 100%;
		box-sizing: border-box;
	}
}

div.mediajs_block .mediajs_text, div.videojs_block .videojs_text {
	float: none;
	margin-bottom: 0;
}
.bDetails {
	background-color: rgba(0,0,0,0.05) !important;
	border: 1px solid rgba(0,0,0,0.1);
	color: #222 !important;
}
h3.bTitle, h3.bTitle.linked a {
	color: #697b94;
	display:inline;
	letter-spacing: 2px;
}
.bSmallHead {
	margin: 0;
	padding: 12px 12px 6px 12px;
}
.action_right {
	font-size: 84%;
	float: right;
	margin: 0 0 0 1em;
}
.timestamp {
	margin: 0 0 0 1em;
	font-size: 84%;
}
.bSmallPrint a:hover {
	text-decoration: underline !important;
}

#g.bComment {
	margin-bottom: 0px !important;
}
#ffield_g {
	margin-top: 8px;
}
input.bComment {
	background-color: #fff;
	width: 97%;
	padding: 6px 12px !important;
	margin: 0px;
	margin-top: -6px !important;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 2em;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    color: #555;
	overflow: auto !important;
}
textarea.bComment
{
	background-color: #fff;
	width: 97%;
	padding: 6px 12px !important;
	margin: 0px;
	margin-top: 15px !important;
	font-size: 14px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 2em;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    color: #555;
	height: 150px;
	resize: vertical;
	overflow: auto !important;
}
#ffield_uploadfile_A1, #uploadfile_A1 {
	font-size: 18px !important;
}
#uploadfile_A1 {
	color: rgba(0,0,0,0.6) !important;
}
.SaveButton {
  font-size: 16px;
  padding: 15px 10px;
  background-color: #697b94;
  border: 1px solid #697b94;
  margin: 5px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.SaveButton:hover {
  background-color: transparent;
  color: #697b94;
}
.preview {
  font-size: 16px;
  padding: 15px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 5px;
  background: rgba(255,255,255,0) !important;
  color: #697b94;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
.preview:hover {
  border: 1px solid #697b94;
  background-color: transparent;
}
.comment_notification a:hover {
	text-decoration: underline;
}
select.bComment  /* Used by the profile form */
{
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 1px;
	margin: 0ex;
}

.comments_popup {
	margin: 1em;
}

.image_index div {
	background: #555;
	border: 1px solid #333;
}
.image_index div:hover {
	background: #777;
}

table.grouped, #edit_group_contacts {
	color: #000;
}
table.grouped th a, table.grouped a {
	color: #666;
}

.user.nogender, user.anonymous.nogender {
	color: #000;
}

.user_contacts_groups .col1 {
	border-color: #999;
}

.avatar_rounded a {
	color: #666;
}
.avatar_main_frame a {
	color: #666;
}
img.avatar_before_login {
	vertical-align: middle;
}

div.item_location {
	padding: 0 12px;
}
.item_custom_fields {
	margin-left: 12px;
}

/* jQuery Tokeninput plugin */
div.input ul.token-input-list-facebook {
	width: 655px;
	background: #FFF;
}
#bComment_form_id_33 {
	margin-bottom: 0px;
}
#ffield_uploadfile_A1 .input {
	text-align: left;
}
.input .btn {
	display: inline-block;
}

/* Not published posts/comments display */
span[class*='status_'] span {
	text-align: center;
	padding: 3px 0;
	font-size: 11px;
	font-weight: bold;
	border: 1px solid #FFF;
	border-radius: 12px;
	width: 80px;
	display: block;
}
.post_status {
	display: inline-block;
	line-height: 14px;
	margin-left: 5px;
	vertical-align: middle;
}
.comment_status {
	margin-top: 8px;
}

div.tabs div a {
	background-color: #333;
	border-color: #999;
	color: #AAA;
}
div.tabs div.selected a, div.tabs div a:hover {
	background-color: #666;
}
div.tabs div.selected a {
	border-bottom-color: #666;
}

.search_title {
	color: #EEE;
}

.nav_album {
	background: #eee;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 10px 0;
	position: relative;
	text-align: center;
	margin-bottom: 35px;
}
.nav_album.fixed {
	position: fixed;
	z-index: 9800;
	width: 100%;
}
/* Devices with max width <= 1024px (iPhone,iPad):
   Don't fix a position of the nav_album */
@media only screen and (max-device-width: 1024px) {
	.nav_album.fixed {
		position: relative;
		width: auto;
		top: 0 !important;
	}
	.nav_album_spacer { display: none; }
}
.nav_album .nav_album_arrows {
	float: right;
	margin-right: 20px;
	position: relative;
	top: 8px;
}
.fa-arrow-circle-right, .fa-arrow-circle-o-left {
	-webkit-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}
.fa-arrow-circle-right:hover:before, .fa-arrow-circle-o-left:hover:before {
	color: #697b94;
}
.fa-arrow-circle-right:before {
	font-family: FontAwesome;
	content: '\f0a9';
	font-size: 36px;
	color: #5d4a55;
}
.fa-arrow-circle-o-left:before {
	font-family: FontAwesome;
	content: '\f0a8';
	font-size: 36px;
	color: #5d4a55;
	margin-right: 5px;
}

.nav_album .nav_album_title {
	margin-left: 120px;
}
.nav_album .nav_album_number {
	float: right;
	line-height: 25px;
	padding-right: 10px;
	margin-top: 8px;
}

/* IOS Arrow button */
#ios-arrow-left {
	display : block;
	position:absolute;
	z-index : 0;
	left:20px;
	width:auto;
	text-decoration: none;
	border-radius: 5px;
	color:#222;
	cursor: pointer;
	float: left;
}

#ios-arrow-left:after {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size : 15px;
	content: attr(title)"";
	z-index: 999;
	line-height:25px;
	display:block;
	border: 2px solid #5d4a55;
	padding: 7px 11px;
	border-radius: 3px;
	background-color: #eee;
}
/* Bubble Float Left */
#ios-arrow-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#ios-arrow-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 10px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent #5d4a55 transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#ios-arrow-left:hover, #ios-arrow-left:focus, #ios-arrow-left:active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}
#ios-arrow-left:hover:before, #ios-arrow-left:focus:before, #ios-arrow-left:active:before {
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
.form_add_contacts .controls {
	padding-left: 0;
}

.flowplayer_block, .videojs_block, .mediajs_block {
	width: 658px;
	max-width: 100%;
}
.flowplayer_block > div, .videojs_block > div, .mediajs_block > div {
	margin: 0 auto;
}
.bCommentText .flowplayer_block, .bCommentText .videojs_block, .bCommentText .mediajs_block {
	width: 100%;
}

span.loader_img.loader_ajax_form {
	background-image: url(../../rsc/img/ajax-loader/555.gif);
}

.login_block .bDetails {
	width: 820px;
	margin: 0 auto;
	padding-top: 10px;
	margin-top: 76px;
}
form.bComment {
	border: none;
}

form#user_checkchanges.bComment {
	border: 1px solid #999;
}
.standard_login_link a {
	color: #999;
}

div.edit_toolbar, form.inskin .edit_area textarea, input.bComment, textarea.bComment {
	width: 100%;
	box-sizing: border-box;
}
div.results, .messages_list h2 {
	color: #222;
}
div.results .filters, div.edit_toolbar, .catselect, .messages_list label {
	color: #666;
}
div.results .filters a, div.results .title a, .catselect a, .results_nav a {
	color: #444;
}

div.item_comments h4 {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	padding: 20px 0px;
	margin: 0px;
}
div.item_comments h3 {
	margin: 0px;
	padding: 15px 0px 20px 0px;
	border-top: 1px dashed #222;
	font-weight: normal;
	color: #5d4a55;
	font-size: 24px;
}
div.bCommentTitle {
	font-size: 16px;
	font-style: italic;
	font-weight: 500;
	text-transform: uppercase;
}
div.bCommentTitle:before {
	content:'COMMENT FROM: ';
	font-style: italic;
}
.info strong {
	margin-left: -60px;
}
.info strong a:hover {
	text-decoration: underline;
}
.label {
	text-align: left !important;
}
div.bCommentTitle a:hover {
	background-color: rgba(255,255,255,0) !important;
	text-decoration: underline !important;
}
div.comment_rating {
	float: left;
	margin: 3px 6px 1px 0;
}
div.bCommentText {
	border-top: 1px dashed #222;
	padding: 40px 15px 15px 15px;
}
div.bCommentText p {
	margin: 3px 0 5px;
}
img.bCommentAvatar {
	margin: 4px 10px 10px 0;
}

/* Footer */
#pageFooter {
	text-align: center !important;
	float: none !important;
	width: 100%;
	background-color: rgba(0,0,0,0.05) !important;
	text-decoration: none !important;
	padding-top: 30px;
	padding-bottom: 25px;
}
.baseline a {
	text-decoration: none !important;
}
.baseline a:hover {
	text-decoration: underline !important;;
}